<div class="container">
  <div class="form-field">
    <div class="text-box">
      <input
        cols="5"
        (input)="inputValues($event)"
        placeholder="Please input comma separated numbers"
      />
    </div>
    <div class="buttons-box">
      <div class="add-icon">
        <button class="btn">Add</button>
      </div>
      <div class="subtract-icon">
        <button class="btn">Substract</button>
      </div>
      <div class="multiply-icon">
        <button class="btn">Multiplication</button>
      </div>
    </div>
  </div>
</div>
